<div class="projects d-flex flex-column justify-content-center align-self-center align-items-center">
  <h3 class="mx-auto my-5">Here are some projects from my works that I can show you, if you are intrested:</h3>
  <div class="d-flex flex-row flex-wrap justify-content-around">
    <app-card class="m-4" [imageSrc]="'assets/img/tdg.jpg'" [title]="'Transcend Design Generator'"
      [text]="'Edison Awarded Design generator platform'"
      [list]="['React', 'JavaScript', 'OpenLayers', 'Next.js', 'AWS']" [buttonText]="'Try it!'"
      [link]="'https://try.transcendh2o.com/'"></app-card>
    <app-card class="m-4" [imageSrc]="'assets/img/monor.png'" [title]="'Smart city platform'"
      [text]="'Smart city platform for Monor'" [list]="['Angular 8', 'OpenLayers', 'Spring Boot', 'PostgreSQL']"
      [buttonText]="'Try it!'" [link]="'https://ttp.okosvaros.lechnerkozpont.hu/'"></app-card>
    <app-card class="m-4" [imageSrc]="'assets/img/immobees.png'" [title]="'Immobees'"
      [text]="'Flatmate search app   -- in Pre-alpha stage, under testing'" [list]="['Angular 8', 'Firebase']"
      [buttonText]="'Try it!'" [link]="'https://immobees-98dcd.web.app/'"></app-card>
    <!-- <app-card class="m-4" [imageSrc]="'assets/img/vegetables.jpg'" [title]="'MyRecipes'"
      [text]="'Serach for recipes from seasonal goods'" [list]="['Angular 8', 'Firebase']"
      [buttonText]="'Wanna see the codes?'" [link]="'https://github.com/peterciprian/MyRecipes/tree/master/src'">
    </app-card> -->
    <!-- <app-card class="m-4" [imageSrc]="'assets/img/codes.jpg'" [title]="'Sample app'"
      [text]="'It\'s a sample app that you can inspect to see, what code am I able to produce in ~6 hours'"
      [list]="['Angular 8', 'JSONPlaceholder API']" [buttonText]="'Wanna see the codes?'"
      [link]="'https://github.com/peterciprian/CodeSample---PostApp/blob/master/src'"></app-card>
  </div> -->
    <app-card class="m-4" [imageSrc]="'assets/img/codes.jpg'" [title]="'Code samples'"
      [text]="'Check my github page to reach my puplic repos'" [list]="['HTML', 'TypeScript', 'JavaScript']"
      [buttonText]="'Wanna see my codes?'" [link]="'https://github.com/peterciprian?tab=repositories'"></app-card>
  </div>
</div>