@import 'src/assets/styles/main.scss';

.box {
  cursor: default;
  color: $color-purple;
  background-color: $color-blue;
  box-shadow: 1px 1px 5px $color-purple;
  font-weight: 800;
  padding: 8px 12px;
  border-radius: 8px;
  align-items: center;
  min-height: 32px;
  height: auto;
  width: auto;
  opacity: .8;
  margin: 4px
}

.box:hover {
  color: $color-yellow;
}
