@import './color.scss';
@import './text.scss';

$header-height: 40px;
$footer-height: 50px;

body {
  height: 100%;
}

header {
  height: $header-height;
  box-shadow: 0px 0px 8px #24292e94;
  // border-bottom: 1px solid #222;
  font-size: 13pt;
  font-weight: 800;
}

footer {
  height: $footer-height;
  box-shadow: 0px 0px 8px #24292e94;
  bottom: 0;
  z-index: -1;
  // border-top: 1px solid #222;
}

#myBtn {
  opacity: 0.5;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99
}
