<footer class="nav-container d-flex flex-row align-items-center">
    <div class="socials d-flex flex-row align-items-center justify-content-center mx-auto">
      <app-social-icon class="mx-2" [icon]="faLinkedin" [bgColor]="colorLinkedin" [link]="'https://www.linkedin.com/in/olahpeterciprian/'"></app-social-icon>
      <app-social-icon class="mx-2" [icon]="faGithub" [bgColor]="colorGithub" [link]="'https://github.com/peterciprian'"></app-social-icon>
      <app-social-icon class="mx-2" [icon]="faEmail" [bgColor]="colorEmail" [link]="'mailto:peterciprian@gmail.com'"></app-social-icon>
      <app-social-icon class="mx-2" [icon]="faFacebook" [bgColor]="colorFacebook" [link]="'https://www.facebook.com/peterciprian'"></app-social-icon>
    </div>
</footer>
