<footer>
  <div class="row">
      <div id="social" class="col-8 offset-2">
          <div class="row justify-content-center">
              <div class="ico">
                  <a href="mailto:peterciprian@gmail.com" target="_top">
                      <div class="icon gm">
                          <i class="fas fa-at email fa-lg"></i>
                      </div>
                  </a>
              </div>
              <div class="ico">
                  <a href="http://www.facebook.com/peterciprian" target="_blank">
                      <div class="icon fb">
                          <i class="fab fa-facebook-f fa-lg"></i>
                      </div>
                  </a>
              </div>
              <div class="ico">
                  <a href="http://github.com/peterciprian" target="_blank">
                      <div class="icon gh">
                          <i class="fab fa-github fa-lg"></i>
                      </div>
                  </a>
              </div>
              <div class="ico">
                  <a href="https://www.linkedin.com/in/olahpeterciprian/" target="_blank">
                      <div class="icon li">
                          <i class="fab fa-linkedin-in fa-lg"></i>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</footer>
