<div class="about container-fluid">
  <div class="row">
    <div class="personal col-lg-5 col-md-12">
      <app-frame>
        <div class="d-flex flex-row flex-wrap">
          <div class="description">
            <h4>Oláh Péter Ciprián</h4>
            <h5>Web / Front-end / Angular developer</h5>
            <p>Enthusiastic frontend developer with 4 years experience in designing, developing and debugging user
              interfaces.</p>
            <h6>peterciprian@gmail.com</h6>
            <h6>+3620/241-2931</h6>
            <h6>Budapest, HU</h6>
          </div>
          <div class="image">
            <img src="assets/img/opc.jpg">
          </div>
        </div>
        <!-- <h5>Profession</h5>
        <ul>
          <li>Frontend web developer</li>
          <li>Urban Systems Engineer</li>
        </ul>
        <br>
        <h5>Degrees</h5>
        <ul>
          <li>Corvinus University Budapest - Urban Systems Engineer Msc. - 2015</li>
          <li>Corvinus University Budapest - Horticultural Engineer Bsc. - 2012</li>
        </ul>
        <br>
        <h5>Further courses</h5>
        <ul>
          <li>Training360 kft. Frontend Web developer - 2018</li>
          <li>Mediation techniques in participative planning - 2016</li>
        </ul>
        <br>
        <h5>Spoken languages</h5>
          <ul>
            <li>English intermediate</li>
          </ul>
          <br>
        <h5>Other</h5>
        <ul>
          <li>Driving license "B" - 2008 (~160E km)</li>
        </ul> -->
      </app-frame>
      <app-frame>
        <h4>Skills</h4>
        <div class="stack-container">
          <app-box>TypeScript</app-box>
          <app-box>JavaScript</app-box>
          <app-box>HTML5</app-box>
          <app-box>CSS3, SCSS</app-box>
          <app-box>SQL: PostgreSQL, Oracle, MongoDB, MySQL</app-box>
          <app-box>Java</app-box>
          <app-box>Groovy</app-box>
        </div>
      </app-frame>
      <app-frame>
        <h4>Frameworks, libraries</h4>
        <div class="stack-container">
          <app-box>Angular (2+)</app-box>
          <app-box>React</app-box>
          <app-box>Bootstrap</app-box>
          <app-box>Angular Material</app-box>
          <app-box>RxJs</app-box>
          <app-box>Node.Js</app-box>
          <app-box>Next.Js</app-box>
          <app-box>Nest.Js</app-box>
          <app-box>ExpressJs</app-box>
        </div>
      </app-frame>
      <app-frame>
        <h4>Tools</h4>
        <div class="stack-container">
          <app-box>GIT</app-box>
          <app-box>GitLab, GitHub</app-box>
          <app-box>Visual Studio Code</app-box>
          <app-box>Firebase</app-box>
          <app-box>NPM</app-box>
          <app-box>CMD</app-box>
          <app-box>i18n</app-box>
        </div>
      </app-frame>
      <app-frame>
        <h4>Competences</h4>
        <h5>Tech competences</h5>
        <div class="stack-container">
          <app-box>REST</app-box>
          <app-box>Functional programming</app-box>
          <app-box>Reactive programming</app-box>
          <app-box>Object Oriented programming</app-box>
          <app-box>Responsive mobile-first web design</app-box>
          <app-box>Clean Code</app-box>
          <app-box>S.O.L.I.D</app-box>
          <app-box>Scrum framework</app-box>
        </div>
        <br>
        <h5>Soft skills</h5>
        <div class="stack-container">
          <app-box>Rapid, confident problem solving</app-box>
          <app-box>System thinking</app-box>
          <app-box>High level flexibility</app-box>
          <app-box>Excellent associating skills and situational awareness</app-box>
          <app-box>Practiced in public speaking</app-box>
        </div>
        <br>
        <h5>Superpower</h5>
        <div class="stack-container">
          <app-box>Can find a way home from anywhere</app-box>
        </div>
      </app-frame>
      <app-frame class="d-lg-flex d-md-none">
        <h4>Further activites</h4>
        <h5>Social activity</h5>
        <ul>
          <li>Contemporary Architecture Center - Urban walks - stroll giude, volunteer</li>
          <li>Hungarian Cyclists’ Club - Transport Vocational Task Force member</li>
          <li>Hungarian Association of Landscape Architects - member</li>
          <li>Béla Rerrich College for Advanced Studies In Landscape Arcitecture - Alumni member (member 2011-2015,
            chairman 2013-2015)</li>
          <li>Balkon Aranya Competition - mastermind, organiser</li>
          <li>Find the Local, Choose the Authentic Association - member in charge of certification</li>
        </ul>
        <br>
        <h5>Interests</h5>
        <ul>
          <li>Sustainability, liveable city</li>
          <li>Promenadology, urban strolls</li>
          <li>Architecture, Urbanism</li>
          <li>Cycling</li>
          <li>Archery</li>
        </ul>
        <br>
        <h5>Prizes, Competitions, Awards as Urban Designer</h5>
        <ul>
          <li>Hungarian Association of Landscape Architects Graduation Award 2016</li>
          <li>Hungarian National Museum Design Competition bought plan 2016</li>
          <li>Budakeszi Town Center Design Competition special award 2016</li>
          <li>Roundtable Association of Real Estete Developers IFK Talentum Student
            Competition
            1st place 2015</li>
          <li>BME Urban Design Days Student Competiton 1st place 2015</li>
          <li>VII. Hugarian Garden Design Competition Student 3rd place 2015</li>
          <li>V. Hugarian Garden Design Competition Student 2nd place award 2013</li>
        </ul>
      </app-frame>
    </div>
    <div class="experience col-lg-7 col-md-12">
      <app-frame>
        <h4>Experience</h4>
        <h5>Transcend Water Ltd.</h5>
        <h5>Transcend Design Generator</h5>
        <span>Edison Awarded Startup</span>
        <span>Transcend Design Generator (TDG) is an intuitive, online generative design platform that enables capital
          planners, project developers, and engineering professionals to rapidly generate preliminary engineering
          designs for water & wastewater treatment facilities</span>
        <ul>
          <div>2021. 04. -</div>
          <li>Front-end developer</li>
        </ul>
        <div class="tech-stack">
          <div class="title">Tech stack:</div>
          <div class="tech-stack-container">
            <app-box>React</app-box>
            <app-box>React Hooks</app-box>
            <app-box>Next.js</app-box>
            <app-box>JavaScript</app-box>
            <app-box>HTML</app-box>
            <app-box>Scss</app-box>
            <app-box>OpenLayers</app-box>
            <app-box>Material UI</app-box>
            <app-box>Figma</app-box>
            <app-box>Git</app-box>
            <app-box>VS Code</app-box>
            <app-box>Azure</app-box>
          </div>
        </div>
      </app-frame>

      <app-frame>
        <h5>Front-end developer – Lechner Non-profit Ltd.</h5>
        <h5>Smart City Platform</h5>
        <span>Unified, easily adaptable, nation-wide, spatial data-based smart city framework</span>
        <ul>
          <div>2019. 10. - 2021. 04.</div>
          <li>Lead front-end developer on a greenfiled project</li>
          <li>Development in Scrum</li>
        </ul>
        <div class="tech-stack">
          <div class="title">Tech stack:</div>
          <div class="tech-stack-container">
            <app-box>Angular 8</app-box>
            <app-box>TypeScript</app-box>
            <app-box>RxJs</app-box>
            <app-box>OpenLayers</app-box>
            <app-box>JavaScript</app-box>
            <app-box>HTML</app-box>
            <app-box>Scss</app-box>
            <app-box>Angular Material</app-box>
            <app-box>Bootstrap4</app-box>
            <app-box>Figma</app-box>
            <app-box>SpringBoot</app-box>
            <app-box>PostgreSQL</app-box>
            <app-box>Liquibase</app-box>
            <app-box>Git</app-box>
            <app-box>VS Code</app-box>
            <app-box>STS Eclipse</app-box>
            <app-box>Jira</app-box>
          </div>
        </div>
      </app-frame>

      <app-frame>
        <h5>Junior front-end developer – SuIT Solutions Ltd.</h5>
        <h5> National Public Health and Medical Officer Service - National Social Information System</h5>
        <span>maintenance and module development</span>
        <ul>
          <div>2019. 02. - 2019. 08.</div>
          <li>Full stack development</li>
        </ul>
        <div class="tech-stack">
          <div class="title">Tech stack:</div>
          <div class="tech-stack-container">
            <app-box>Groovy</app-box>
            <app-box>Java EE</app-box>
            <app-box>JSF</app-box>
            <app-box>EJB</app-box>
            <app-box>XML</app-box>
            <app-box>Oracle</app-box>
            <app-box>Flyway</app-box>
            <app-box>Jenkins</app-box>
            <app-box>Eclipse</app-box>
            <app-box>Redmine</app-box>
          </div>
        </div>
        <br>
        <br>
        <h5>Sports Global Solution</h5>
        <span>Data analytics and management platform that can be used to collect, manage,
          analyze, and visualize all the data related to sports performance</span>
        <ul>
          <div>2018. 07. - 2019. 02.</div>
          <li>Greenfield project</li>
          <li>Front-end development and sitebuild</li>
          <li>Internationalisation (i18n)</li>
        </ul>
        <div class="tech-stack">
          <div class="title">Tech stack:</div>
          <div class="tech-stack-container">
            <app-box>Angular 6</app-box>
            <app-box>TypeScript</app-box>
            <app-box>RxJs</app-box>
            <app-box>Css</app-box>
            <app-box>HTML</app-box>
            <app-box>Angular Material</app-box>
            <app-box>Bootstrap 4</app-box>
            <app-box>Chart.js</app-box>
            <app-box>Zeplin</app-box>
            <app-box>Java Spring</app-box>
            <app-box>PostgreSQL</app-box>
            <app-box>Nginx</app-box>
            <app-box>VS Code</app-box>
            <app-box>STS Eclipse</app-box>
            <app-box>Git</app-box>
            <app-box>Redmine</app-box>
          </div>
        </div>
      </app-frame>

      <app-frame>
        <h5>Personal project</h5>
        <h5> Immobees - Flatmate finder</h5>
        <ul>
          <div>2019. 12. - </div>
          <li>Front-end development and sitebuild from .psd design</li>
          <li>Back-end setup in Firebase</li>
          <li>Internationalisation (i18n)</li>
        </ul>
        <div class="tech-stack">
          <div class="title">Tech stack:</div>
          <div class="tech-stack-container">
            <app-box>Angular 8</app-box>
            <app-box>TypeScript</app-box>
            <app-box>RxJs</app-box>
            <app-box>HTML</app-box>
            <app-box>Scss</app-box>
            <app-box>Bootstrap4</app-box>
            <app-box>Angular Material</app-box>
            <app-box>Firebase</app-box>
            <app-box>FireStore</app-box>
            <app-box>CloudStore</app-box>
            <app-box>VS Code</app-box>
          </div>
        </div>
        <br>
        <br>
        <h5>MyRecipes - Find recipes from local and seasonal goods</h5>
        <ul>
          <div>2019. 10. - </div>
          <li>Front-end development</li>
          <li>Back-end setup in Firebase</li>
        </ul>
        <div class="tech-stack">
          <div class="title">Tech stack:</div>
          <div class="tech-stack-container">
            <app-box>Angular 8</app-box>
            <app-box>TypeScript</app-box>
            <app-box>RxJs</app-box>
            <app-box>HTML</app-box>
            <app-box>Scss</app-box>
            <app-box>Bootstrap4</app-box>
            <app-box>Firebase</app-box>
            <app-box>VS Code</app-box>
          </div>
        </div>
      </app-frame>
    </div>
  </div>
</div>
