@import 'src/assets/styles/main.scss';

button.linkButton {
  color: $color-purple;
  background-color: $color-gray;
  border-color: $color-purple;
  border: 1px solid;
  padding: 4px;
  border-radius: 4px;
  width: 200px;
  height: 60px;
  box-shadow: 0 2px $color-yellow;
}

button.linkButton:active {
  outline: none;
  border: 1px solid;
  box-shadow: 0 0px $color-yellow;
  transform: translateY(2px);
}

button.linkButton:hover {
  color: $color-yellow;
  background-color: $color-purple;
  border-color: $color-purple;
}
