@import 'src/assets/styles/main.scss';

.home {
  color: $color-purple;
  height: calc(100vh - #{$header-height} - #{$footer-height});
}

.subtitle {
  flex-direction: row
}

@media only screen and (max-width: 580px) {
  .subtitle {
    flex-direction: column
  }
}
