<div class="home d-flex flex-column justify-content-center align-self-center align-items-center">
  <h1 class="mx-auto my-5">Hi, I am Ciprian</h1>
  <div class="subtitle d-flex flex-wrap mt-3 mb-5">
    <h3 class="mx-auto">Web&nbsp;/&nbsp;</h3>
    <h3 class="mx-auto">Frontend&nbsp;/&nbsp;</h3>
    <h3 class="mx-auto">Angular2+ & React developer</h3>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-around">
    <app-button class="m-3" [link]="'/about'" [content]="'Know more about me!'"></app-button>
    <app-button class="m-3" [link]="'/projects'" [content]="'Have a look at my projects!'"></app-button>
  </div>
</div>
